assets_directory = "/run/current-system/sw/share/libretro/assets"
joypad_autoconfig_dir = "/run/current-system/sw/share/libretro/autoconfig"

savefile_directory = @savesDir@
savestate_directory = @statesDir@
system_directory = @biosDir@

video_driver = "glcore"
audio_driver = "pulse"

menu_driver = "ozone"

# Keyboard fallback hotkeys.
# Useful even when using a controller.
input_exit_emulator = "escape"
input_save_state = "f2"
input_load_state = "f4"
input_state_slot_increase = "f7"
input_state_slot_decrease = "f6"
input_toggle_fast_forward = "space"
input_menu_toggle = "f1"

# Let RetroArch try to automatically map common controllers.
input_autodetect_enable = "true"

# Do not pause when focus is lost. Better for Steam/Big Picture transitions.
pause_nonactive = "false"

# Reasonable defaults for living-room use.
video_fullscreen = "true"
savestate_auto_save = "false"
savestate_auto_load = "false"
