{
  "system": "x86_64-linux",
  "platform": "linux",

  "username": "your-linux-username",
  "homeDir": "/home/your-linux-username",

  "flakePath": "/home/your-linux-username/nixos_config",
  "flakeName": "dev_linux",

  "userFullname": "Your Name",
  "userEmail": "you@example.com"
}
