{
  "username": "<username>",
  "userFullname": "<First and Last name>",
  "userEmail": "<email>"
  "syncdrive": {
    "rcloneRemote": "proton",
    "encryptionKey": "replace-this-with-a-long-random-secret"
   }
}
