MACHINE_NAME="dev"
MACHINE_USERNAME="iamajoe"
MACHINE_IP_ADDR="" # Not used if setting INVENTORY_PATH and INVENTORY_TARGET
USER_EMAIL=""
USER_FULL_NAME=""

PLAYBOOKS="./playbooks/devvm.yml ./custom/project_example.yml"

# GRUB_RESOLUTION="1920x1080" # Resolution to be set on GRUB
# SSH_SRC_DIR="$HOME/.ssh" # SSH folder to be included in the machine
# INVENTORY_PATH="./inventory/hosts" # Path to the hosts inventory
# INVENTORY_TARGET="all" # Target to be used with the inventory hosts
