SERVICE="devvm"
USERNAME="iamajoe"
USER_EMAIL=""
USER_FULL_NAME=""

PLAYBOOK_FOLDER="./playbooks"

SSH_SRC_DIR="$HOME/.ssh"
INVENTORY_PATH="./inventory/hosts"
INVENTORY="-i $INVENTORY_PATH"
TARGET="all"
SUBSET=""
# IP_ADDR=""
