{
  "system": "aarch64-darwin",
  "platform": "darwin",

  "username": "your-macos-username",
  "homeDir": "/Users/your-macos-username",

  "flakePath": "/etc/nix-darwin",
  "flakeName": "dev_mac",

  "userFullname": "Your Name",
  "userEmail": "you@example.com"
}
