{
  description = "Local config";

  outputs = { self }: {
    userConfig = {
      system = "aarch64-darwin";
      platform = "darwin";

      flakePath = "/etc/nix-darwin";
      flakeName = "dev_machine";

      username = "joe";
      homeDir = "/Users/your-username";
      userFullname = "Your Name";
      userEmail = "you@example.com";
    };
  };
}
