{
  description = "Local config";

  outputs = { self }: {
    userConfig = {
      hardwareModule = ./hardware-configuration.nix;
      system = "x86_64-linux"; # x86_64-linux, aarch64-linux, aarch64-darwin
      platform = "linux"; # darwin, linux

      flakePath = "/etc/nixos";
      flakeName = "steamtv";
      hostname = "steamtv";

      username = "your-username";
      homeDir = "/home/your-username";
      userFullname = "Your Name";
      initialPassword = "changeme";

      networkInterface = "enp1s0";

      enableWakeOnLan = true;
      enableCEC = true;

      moonlightHost = "192.168.0.252";
      moonlightApp = "Steam";

      nasHost = "192.168.0.64";
      nasUser = "username";
      nasPassword = "password";
    };
  };
}
