{
  description = "Local config";

  outputs = { self }: {
    userConfig = {
      hardwareModule = ./hardware-configuration.nix;
      system = "x86_64-linux"; # x86_64-linux, aarch64-linux, aarch64-darwin
      platform = "linux"; # darwin, linux

      flakePath = "/etc/nixos";
      flakeName = "dev_machine";
      hostname = "dev_machine";

      username = "your-username";
      homeDir = "/home/your-username";
      userFullname = "Your Name";
      userEmail = "you@example.com";
    };
  };
}
